/*
  Colors and font styles

  - font used: Roboto
  - dark background color (hero and footer): #1F2937
  - Hero main text: 48px, #F9FAF8, weight: 900
  - Hero secondary text, Header link text: 18px, #E5E7EB
  - Header logo text: 24px #F9FAF8

  - Button color, call to action background color: #3882F6
  - Information header text: 36px, #1F2937, weight: 900

  - Quote section background color: #E5E7EB
  - Quote text: 36px light italic #1F2937
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
}

body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	padding: 6px 16px;
	border-radius: 8px;
	font-size: inherit;
}

